[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "*"
pandas = "*"
langchain = "*"
openai = "*"
chainlit = "*"
tabulate = "*"
python-dotenv = "*"
langchain-experimental = "*"
langchain-openai = "*"
duckdb-engine = "*"
flask = "*"
langchain-community = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
